body {
  background: black;
  color: lightGreen;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  /* Could be more or less, depending on screen size */
  color: #5d5d5d;
}

/* The Close Button */
.closeTriggerEditor,
.closeButtonEditor {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeTriggerEditor:hover,
.closeButtonEditor:hover,
.closeTriggerEditor:focus,
.closeButtonEditor:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* editor base */
.editorbase {
  width: 100%;
}

/* trigger list */
.triggerlist {
  width: auto;
}

/* trigger name */
.triggername {
  width: 80%;
}

/* trigger pattern */
.triggerpattern {
  width: 80%;
}

/* trigger action */
.triggeraction {
  width: 80%;
}

/* save button */
.saveBtn {
  width: 30%;
  padding: 5px;
  margin-top: 5px;
}

/* remove button */
.removeBtn {
  width: 30%;
  padding: 5px;
  margin-top: 5px;
  margin-left: 25px;
}

#mudScreen {
  width: 100vw;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  white-space: pre-wrap;
  color: lightGreen;
  /*color: rgb(205,205,205); */
  background: linear-gradient(navy, darkblue, black, black, black);
}

#commandConsole {
  width: 100vw;
  height: 10vh;
  background-color: black;
}

/* input line: */
#cLine {
  width: 80vw;
}

.commandButtons {
  margin: 5px;
  color: white;
  background-color: darkGreen;
}

/* COLORS*/
span.bold {
  font-weight: bold;
}

span.underline {
  text-decoration: underline;
}

span.normal {
  color: #dddddd;
  font-weight: normal;
  text-decoration: none;
}

span.self {
  color: #5d5d5d;
}

span.black {
  color: crimson;
}

span.red {
  color: #d08356;
}

span.green {
  color: #a2a96f;
}

span.yellow {
  color: #e3d96f;
}

span.blue {
  color: #8a9597;
}

span.magenta {
  color: #be96b3;
}

span.cyan {
  color: #74dad9;
}

span.white {
  color: #ffffff;
}

span.black-bg {
  background: #777777;
}

span.red-bg {
  background: #d08356;
}

span.green-bg {
  background: #a2a96f;
}

span.yellow-bg {
  background: #e3d96f;
}

span.blue-bg {
  background: #8a9597;
}

span.magenta-bg {
  background: #be96b3;
}

span.cyan-bg {
  background: #74dad9;
}

span.white-bg {
  background: #ffffff;
}